<a href="https://colab.research.google.com/github/MargaritaFateeva/PythonSeminars/blob/main/seminar2_python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('./laptop_price.csv',encoding='latin-1')
df
df.head(2)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   object
 8   Memory            1303 non-null   object
 9   Gpu               1303 non-null   object
 10  OpSys             1303 non-null   object
 11  Weight            1303 non-null   object
 12  Price_euros       1303 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 132.5+ KB

In [ ]:
df.isnull()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,False,False,False,False,False,False,False,False,False,False,False,False,False
1299,False,False,False,False,False,False,False,False,False,False,False,False,False
1300,False,False,False,False,False,False,False,False,False,False,False,False,False
1301,False,False,False,False,False,False,False,False,False,False,False,False,False
1302,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.describe()

         laptop_ID       Inches  Price_euros
count  1303.000000  1303.000000  1303.000000
mean    660.155794    15.017191  1123.686992
std     381.172104     1.426304   699.009043
min       1.000000    10.100000   174.000000
25%     331.500000    14.000000   599.000000
50%     659.000000    15.600000   977.000000
75%     990.500000    15.600000  1487.880000
max    1320.000000    18.400000  6099.000000

Задание 3.
Ответьте на несколько вопросов

3.1 Ноутбуков от какой компании больше всего в наборе 
данных?

3.2 Какая минимальная и максимальная стоимость у 
ноутбуков в данных?

3.3 Какой самый дорогой ноутбук в данных?
Выведите все характеристики только по этому ноутбуку
Если таких ноутбуков несколько, то выводите их всех

In [ ]:
df['Company'].max()

'Xiaomi'

In [ ]:
df['Company'].value_counts()

Dell         297
Lenovo       297
HP           274
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         21
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Chuwi          3
Google         3
Fujitsu        3
LG             3
Huawei         2
Name: Company, dtype: int64

In [ ]:
df.Price_euros.min()

174.0

In [ ]:
df.Price_euros.max()

6099.0

In [ ]:
df[df.Price_euros==6099]['Company']

196    Razer
Name: Company, dtype: object

In [ ]:
df.sort_values("Price_euros", ascending=False).iloc[0]['Company']

'Razer'

In [ ]:
df[df['Price_euros']==df.Price_euros.max()]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
196,200,Razer,Blade Pro,Gaming,17.3,4K Ultra HD / Touchscreen 3840x2160,Intel Core i7 7820HK 2.9GHz,32GB,1TB SSD,Nvidia GeForce GTX 1080,Windows 10,3.49kg,6099.0

Задание 4.
Ответьте на несколько вопросов

4.1 Найдите ноутбуки с самой маленькой диагональю в 
данных?

Выведите только следующие характеристики:

1. Компания

2. Типа ноутбука

3. Диагональ

4. Стоимость

Если таких ноутбуков несколько, то выводите их всех

4.2 Сколько стоит самый дорогой ноутбук у компании HP?

4.3 Как много ноутбуков Ultrabook с 8GB RAM?
Найдите сколько таких ультрабуков с 8GB ОЗУ в процентном соотношении 
относительно всех ультрабуков

In [ ]:
df[df['Inches']==df.Inches.min()]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
50,51,Lenovo,Yoga Book,2 in 1 Convertible,10.1,IPS Panel Touchscreen 1920x1200,Intel Atom x5-Z8550 1.44GHz,4GB,64GB Flash Storage,Intel HD Graphics 400,Android,0.69kg,319.00
1082,1097,Lenovo,Yoga Book,2 in 1 Convertible,10.1,IPS Panel Touchscreen 1920x1200,Intel Atom x5-Z8550 1.44GHz,4GB,64GB Flash Storage,Intel HD Graphics 400,Windows 10,0.69kg,646.27
1114,1129,Lenovo,Yoga Book,2 in 1 Convertible,10.1,IPS Panel Touchscreen 1920x1200,Intel Atom x5-Z8550 1.44GHz,4GB,64GB Flash Storage,Intel HD Graphics 400,Android,0.69kg,549.00
1126,1141,Lenovo,Yoga Book,2 in 1 Convertible,10.1,IPS Panel Touchscreen 1920x1200,Intel Atom x5-Z8550 1.44GHz,4GB,64GB Flash Storage,Intel HD Graphics 400,Windows 10,0.69kg,479.00

In [ ]:
df[df['Inches']==df.Inches.min()][['Company', 'TypeName', 'Inches','Price_euros']]

     Company            TypeName  Inches  Price_euros
50    Lenovo  2 in 1 Convertible    10.1       319.00
1082  Lenovo  2 in 1 Convertible    10.1       646.27
1114  Lenovo  2 in 1 Convertible    10.1       549.00
1126  Lenovo  2 in 1 Convertible    10.1       479.00

In [ ]:
df[df['Company']=='HP']['Price_euros'].max()

4389.0

In [ ]:
df[(df['TypeName']=='Ultrabook')&(df['Ram']=='4GB')].shape

(14, 13)

In [ ]:
df.TypeName.unique

<bound method Series.unique of 0                Ultrabook
1                Ultrabook
2                 Notebook
3                Ultrabook
4                Ultrabook
               ...
1298    2 in 1 Convertible
1299    2 in 1 Convertible
1300              Notebook
1301              Notebook
1302              Notebook
Name: TypeName, Length: 1303, dtype: object>

In [ ]:
a=df[(df['TypeName']=='Ultrabook') & (df['Ram']=='8GB') ].shape[0]
b=df[df['TypeName']=='Ultrabook'].shape[0]
a/b*100

1

1

5.1 Выберите ноутбук клиенту
Клиент хочет подобрать ноутбук с 8GB или 16GB ОЗУ на Windows 10 в 
стоимости до 500 евро, сколько у него вариантов?

5.2 Выберите ноутбук клиенту
Клиент хочет подобрать ноутбук от MSI, с видеокартой Nvidia GeForce GTX 
1050 Ti и главное не с диагональю 15.6. В какой ценовой категории вышли 
подобные ноутбуки?

5.3 Что дешевле?
В среднем дешевле ноутбуки с CPU Intel Core i7 7700HQ 2.8GHz или с Intel 
Core i7 7600U 2.8GHz?

In [ ]:
df[df['Price_euros']==df.Price_euros.max()]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
196,200,Razer,Blade Pro,Gaming,17.3,4K Ultra HD / Touchscreen 3840x2160,Intel Core i7 7820HK 2.9GHz,32GB,1TB SSD,Nvidia GeForce GTX 1080,Windows 10,3.49kg,6099.0

In [ ]:
df[((df['Ram']=='8GB')|((df['Ram']=='16GB'))&(df['OpSys']=='Windows 10'))&((df['Price_euros']<500))].shape[0]

18

In [ ]:
df[
    (df['Ram'].isin(['16GB', '8GB']))
    &(df['OpSys']=='Windows 10')
    &(df['Price_euros']<500)].shape[0]

13

In [ ]:
df[(df['Company']=='MSI')&(df['Gpu']=='Nvidia GeForce GTX 1050 Ti')&(~(df['Inches']=='15.6'))]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
108,111,MSI,GP62M 7REX,Gaming,15.6,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1050 Ti,Windows 10,2.2kg,1299.00
330,336,MSI,GL72M 7REX,Gaming,17.3,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,8GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1050 Ti,Windows 10,2.7kg,1199.00
393,400,MSI,Leopard GP72M,Gaming,17.3,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,8GB,256GB SSD,Nvidia GeForce GTX 1050 Ti,Windows 10,2.7kg,1349.00
653,661,MSI,GL62M 7REX,Gaming,15.6,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,8GB,128GB SSD + 1TB HDD,Nvidia GeForce GTX 1050 Ti,Windows 10,2.2kg,1191.80
724,732,MSI,GL72M 7REX,Gaming,17.3,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,8GB,128GB SSD + 1TB HDD,Nvidia GeForce GTX 1050 Ti,Windows 10,2.7kg,1348.48
917,931,MSI,GE72VR 6RF,Gaming,17.3,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1050 Ti,Windows 10,2.7kg,1599.00
1156,1174,MSI,GP72M 7REX,Gaming,17.3,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1050 Ti,Windows 10,2.7kg,1492.80

In [ ]:
df[(df['Company']=='MSI')&(df['Gpu']=='Nvidia GeForce GTX 1050 Ti')&(~(df['Inches']=='15.6'))]['Price_euros'].mean()

1354.1542857142856

In [ ]:
df.describe()

         laptop_ID       Inches  Price_euros
count  1303.000000  1303.000000  1303.000000
mean    660.155794    15.017191  1123.686992
std     381.172104     1.426304   699.009043
min       1.000000    10.100000   174.000000
25%     331.500000    14.000000   599.000000
50%     659.000000    15.600000   977.000000
75%     990.500000    15.600000  1487.880000
max    1320.000000    18.400000  6099.000000

In [ ]:
df[(df['Cpu']=='Intel Core i7 7700HQ 2.8GHz')]['Price_euros'].mean()

1760.4084246575342

In [ ]:
df[(df['Cpu']=='Intel Core i7 7600U 2.8GHz')]['Price_euros'].mean()

1915.710769230769

Задание 6.
Найдите самый легкий ноутбук
Но обратите внимание на тип и представление данных в признаке
Weight, если что, замените в строке 'kg' на пустую строку через
метод .str.replace()

In [10]:
df['Weight']=df['Weight'].str.replace('kg','')

In [18]:
df['Weight']=df['Weight'].astype('float')

In [19]:
df['Weight']

0       1.37
1       1.34
2       1.86
3       1.83
4       1.37
        ...
1298    1.80
1299    1.30
1300    1.50
1301    2.19
1302    2.20
Name: Weight, Length: 1303, dtype: float64

In [20]:
df['Weight'].min()

0.69